@import '~ant-design-vue/lib/style/index';

// The prefix to use on all css classes from ant-pro.
@ant-pro-prefix: ant-pro;
@ant-global-sider-zindex: 106;
@ant-global-header-zindex: 105;
@btn-default-color: #fff;

@bar-width: 10px, 15px, 20px, 25px, 30px, 35px;
@bar-con-len: length(@bar-width);

button.ant-btn {
  color: @primary-color;
  border-color: @primary-color;
}
button.ant-btn-link {
  border: none;
}
button.ant-btn-primary {
  color: @btn-default-color;
}

.ant-tooltip {
  max-width: 400px;
}

// bloom rate
.rate-bar-con {
  margin-bottom: 0;
  &.small {
    .ant-rate-star:not(:last-child) {
      margin-right: 8px;
    }
    .rate-bar {
      width: 8px;
    }
  }
  .rate-bar {
    width: 12px;
    height: 30px;
    background: #aaa;
  }
  .ant-rate-star-full {
    .rate-bar {
      background: #fbdb13;
    }
  }
}

.Loop(@index) when (@index <= @bar-con-len) {
  .rate-bar-con .ant-rate-star:nth-child(@{index}) {
    height: extract(@bar-width, @index);
    .rate-bar {
      height: extract(@bar-width, @index);
    }
  }
  .Loop(@index+1);
}

.Loop(0);
